
.signInDiv{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.signInForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.signInInput {
    padding-bottom: 7px;
}

.signInInput {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    width: 100%;
    background-color: rgba(247, 242, 242, 1);
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.error {
    color: rgba(200, 11, 11, 1);
    font-size: 1.2rem;
}

.SignInImage{
    width: 35%;
}

.formAndImage{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.signUpLink {
    color: rgba(152, 80, 61, 1);
}

.signInSentButton {
    border: none;
    padding: 0.6rem;
    background-color: rgba(235, 231, 231, 1);
    color: black;
    border-radius: 10px;
    width: 20%;
    font-size: 20px;
}
