.cartFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: clamp(5px, 2vw, 10px);
    gap: clamp(20px, 2vw, 30px);


}

.cartContainer, .cartProductList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cartContainer{
    gap: clamp(5px, 2vw, 10px);
}
.cartProductList {
    height: 340px;
    max-height: 340px;
    overflow-y: auto;
}

.button-delete {
    color: rgba(200, 11, 11, 1)
}
.listOfProducts {
    display: flex;
    flex-direction: column;
    gap: clamp(5px, 2vw, 10px);
    width: 100%;
    padding: clamp(5px, 2vw, 10px);
}
.cartTitle{
    font-size: clamp(32px, 3vw, 58px);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.cartTotalPrice{
    font-size: clamp(28px, 4vw, 48px);
    font-family: 'Inter', sans-serif;
}