.cartFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    gap: clamp(20px, 2vw, 30px);


}

.cartFooter h2{
    font-size: 2rem;
    
}


.cartContainer, .cartProductList {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.cartProductList {
    height: 400px;
    overflow: scroll;
}

.button-delete {
    color: rgba(200, 11, 11, 1)
}