.cart {
	display: flex;
	gap: 20px;
	align-items: flex-start;
	padding: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	max-width: 900px;
}

.imageWrapper {
	width: 150px;
	height: 150px;
}

.image {
	width: 230px;
	height: 230px;
    border-radius: 4px;
}


.cart{
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}


.productDetails {
	display: flex;
	flex: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.productDetails p{
	font-weight: 700
}

.productActions {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
}

.productSecondActions {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
}

/* 
.productCategory p{
	
} */