.cart {
	display: flex;
	gap: 20px;
	align-items: flex-start;
	padding: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	max-width: 900px;
}

.imageWrapper {
	width: 150px;
	height: 150px;
}

.image {
	width: 230px;
	height: 230px;
    border-radius: 4px;
}

.productDetails {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
	gap: 10px;
}

.productActions {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
}

.productSecondActions {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
}
.productInCart{
	display: flex;
	gap: clamp(10px,2vw,20px);	
	padding: clamp(5px, 2vw, 10px);
	border-bottom: 1px black solid;
}
.productInfo{
	font-size: clamp(16px, 2vw, 20px);
	font-weight: 400;
}