.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.content {
	display: flex;
	gap: 30px;
}

.title {
	font-size: 48px;
	text-align: center;
}

.textBlock {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imageBlock {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imageBlock img {
	border-radius: 16px;
}
.textBlock ul {

	list-style-position: inside;
}
.textBlock ul li {
	font-size: 26px;
}

.textBlockTitle {
	font-size: 36px;
}
.description {
	font-size: 26px;
}
