.productCart {
	display: flex;
	gap: clamp(5px, 2vw, 10px);
	padding: clamp(10px, 2vw, 20px);
	width: 100%;
}

.productImage {
	width: 300px;
	height: 300px;
	border-radius: 8%;
	object-fit: cover;
}

.productFullDescription {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	gap: clamp(7.5px, 2vw, 15px);
}

.productDescription {
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: clamp(20px, 2vw, 32px);
	font-family: "Inter", sans-serif;
}

.productButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.productButton {
	text-align: center;
	padding: 10px 20px;
	width: 250px;
	height: 45px;
	border-radius: 15px;
	background-color: #faf0e6;
	margin: 0 10px;
	border: none;
	font-size: 1rem;
}
.productTitle{
	font-size: clamp(36px, 2vw, 44px);
	font-family: "Inter", sans-serif;
}