.productCart {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 20px;
}

.productImage {
	width: 300px;
	height: 300px;
	border-radius: 8%;
	object-fit: cover;
}

.productFullDescription {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;

	gap: 15px;
}

.productDescription {
	width: 75%;
	font-size: 1.3rem;
}

.productButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.productButton {
	text-align: center;
	padding: 10px 20px;
	width: 250px;
	height: 45px;
	border-radius: 15px;
	background-color: #faf0e6;
	margin: 0 10px;
	border: none;
	font-size: 1rem;
}