* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #faf0e6;
	padding: 20px 30px 10px 30px;
	gap: 20px;
}
