
.button {
	width: 250px;
	height: 70px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 28px;

	border-radius: 20px;
	border: none;

	background-color: #faf0e6;

	cursor: pointer;
}

.button-buy:hover {
	background-color: #ffbf80;
}
.button-buy:active {
	background-color: #fff;
	border: 1px solid #ffbf80;
}

.button-cart:hover {
	background-color: #ffd9b3;
}
.button-cart:active {
	background-color: #fff;
	border: 1px solid #ffd9b3;
}
